---
import Base from '../../layouts/Base.astro';
import '../../styles/project.css';

const pageTitle = "Faïz Madarsah - Projet\: Change Wallpaper Theme";
---
<Base pageTitle={pageTitle}>
	<div class="wrapper">
        <div class="project-title">
            <h4 id="go-back">
                <a href="../works">Mes travaux</a> <span id="separator">/</span>
            </h4> 
            
            <h3>
                Change Wallpaper Theme
            </h3> 
            <span id="year">2024</span>
        </div>

        <div class="project-description">
            <p>
                &nbsp;&nbsp;&nbsp;
                J'ai développé un outil de ligne de commande en Rust pour gérer des thèmes de fond d'écrans avec 
                <a href="https://github.com/LGFae/swww" target="_blank">swww <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                comme daemon de fond d'écrans. Celui-ci permet de contrôler les fond d'écrans à l'exécution du daemon et
                d'appliquer un thème de fonds d'écrans configuré par l'utilisateur.
                L'idée derrière ce projet était tout simplement d'apprendre Rust et les fondamentaux du packaging Linux.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                L'outil devrait fonctionner sur n'importe quel environnement de bureau utilisant <a href="https://github.com/LGFae/swww" target="_blank">swww <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                comme daemon de fond d'écrans. L'outil a principalement été testé sur <a href="https://hyprland.org/" target="_blank">Hyprland <i class="fa-solid fa-arrow-up-right-from-square"></i></a>.
            </p>
        </div>
        
        <div class="project-links">
            <div>
                <span>Repository</span>
                <p><a href="https://github.com/naksudev/cwt" target="_blank">https://github.com/naksudev/cwt <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>

            <div>
                <span>Plateforme</span>
                <p>Linux</p>
            </div>
        </div>
        
        <div class="demonstration">
            <!-- TODO: Replace with the right video -->
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9DHGFry8TVk?si=-UfRVS3LArDj7xVZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</Base>
