---
import Base from '../../layouts/Base.astro';
import '../../styles/project.css';

const pageTitle = "Faïz Madarsah - Projet\: DevOps & SIEM";
---
<Base pageTitle={pageTitle}>
	<div class="wrapper">
        <div class="project-title">
            <h4 id="go-back">
                <a href="../works">Mes travaux</a> <span id="separator">/</span>
            </h4> 
            
            <h3>
                DevOps & SIEM
            </h3> 
            <span id="year">2024</span>
        </div>

        <div class="project-description">
            <p>
                &nbsp;&nbsp;&nbsp;
                Lors de ma formation en licence pro, nous avions un projet tutoré à entreprendre pour valider notre licence. Nous étions un groupe de 4 et 
                nous avons choisi comme sujet de projet : Le DevOps et SIEM (I.A.). Celui-ci consistait à mettre en place une infrastructure d'applications
                automatisé qui déploie un site web marchand. 
                Cette initiative répond à une problématique qui est la suivante : "L'humain est la maillon faible de la chaîne de déploiement et de gestion de 
                services".
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                La solution nécessite d'être capable de résister aux attaques et de pouvoir rester en état face à une montée en charge. Pour atteindre cet objectif,
                un SIEM doit être déployé pour quantifier, surveiller et analyser le trafic réseau et les journaux de sécurité.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                Le projet a été séparé en 2 phases : La mise en place et le développement de la solution, l'implémentation du SIEM dans la solution. J'ai été désigné
                comme le chef du projet et j'ai donc eu la responsabilité de planifier les tâches et diriger les membres de l'équipe.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                A la fin de ce projet, nous avons réussi à déployer une solution fonctionnelle en mettant en place un cluster Kubernetes pour déployer les différentes
                applications permettant le déploiement automatisé d'une application web. Le tout devant être déployé sur un cloud (par exemple un AWS EC2), nous avons donc 
                créé une IaC pour permettre le déploiement de manière rapide et automatisé.
            </p>

        </div>
        
        <div class="project-links">
            <div>
                <span>Repository</span>
                <p><a href="https://gitlab.com/mardouk" target="_blank">https://gitlab.com/mardouk <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>


            <div>
                <span>Drive collaboratif</span>
                <p><a href="https://shorturl.at/dEYUR" target="_blank">https://shorturl.at/dEYUR <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>

            <div>
                <span>Environnement</span>
                <p>100% Linux</p>
            </div>

            <div>
                <span>Technologies utilisées</span>
                <p>Kubernetes, Ansible, Vagrant</p>
            </div>
            
            <div>
                <span>Applications déployées</span>
                <p>Nginx, Grafana, Prometheus, Splunk, PostgreSQL</p>
            </div>
        </div>

        <div class="demonstration">
            <span style="color: gray; font-style: italic;">Aucune vidéo de démonstration disponible.</span>
        </div>
    </div>
</Base>