---
import Base from '../../layouts/Base.astro';
import '../../styles/project.css';

const pageTitle = "Faïz Madarsah - Projet\: Puits de logs";
---
<Base pageTitle={pageTitle}>
	<div class="wrapper">
        <div class="project-title">
            <h4 id="go-back">
                <a href="../works">Mes travaux</a> <span id="separator">/</span>
            </h4> 
            
            <h3>
                Puits de logs
            </h3> 
            <span id="year">2023</span>
        </div>

        <div class="project-description">
            <p>
                &nbsp;&nbsp;&nbsp;
                Lors de mon apprentissage chez Mind Technologies, un des clients a lancé un projet pour créer un puits de logs
                afin d'alimenter leur futur SIEM. Il y avait plus de 30 équipements dont il fallait agréger les logs pour ensuite
                les rediriger vers le SIEM.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                Pour éviter de divulger des informations sensibles, je ne peux pas parler du client, ni du SIEM. Mais ce projet m'a permis
                d'en apprendre beaucoup plus sur la façon dont les logs fonctionnent, notamment grâce aux RFC et aux différentes solutions qui existent
                pour manipuler les logs.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                J'ai travaillé sur une machine virtuelle Linux sous OpenSUSE et mes compétences en Linux m'ont permis d'appréhender ce projet et
                d'accélérer le processus de la mise en place du puits de logs.
            </p>

        </div>
        
        <div class="project-links">
            <div>
                <span>Environnement</span>
                <p>Linux</p>
            </div>
        </div>

        <div class="demonstration">
            <span style="color: gray; font-style: italic;">Aucune vidéo de démonstration disponible.</span>
        </div>
    </div>
</Base>