---
import Base from '../../layouts/Base.astro';
import '../../styles/project.css';

const pageTitle = "Faïz Madarsah - Projet\: Nazarick Reborn";
---
<Base pageTitle={pageTitle}>
	<div class="wrapper">
        <div class="project-title">
            <h4 id="go-back">
                <a href="../works">Mes travaux</a> <span id="separator">/</span>
            </h4> 
            
            <h3>
                Nazarick Reborn
            </h3> 
            <span id="year">2022</span>
        </div>

        <div class="project-description">
            <p>
                &nbsp;&nbsp;&nbsp;
                J'ai repris le projet d'un ami en NSI qui a développé un RPG textuel en C. J'ai repris la base du code pour le refaire
                en Python en utilisant des classes avec des constructeurs et bien évidemment un système de combat.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                C'était un projet plutôt fun à faire et j'y ai vraiment pris plaisir. J'aimerais bien refaire ce type en C ou en Rust en
                allant un peu loin.
            </p>
        </div>
        
        <div class="project-links">
            <div>
                <span>Repository</span>
                <p><a href="https://github.com/naksudev/nazarick-reborn" target="_blank">https://github.com/naksudev/nazarick-reborn <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>

            <div>
                <span>Language de programmation</span>
                <p>Python</p>
            </div>
        </div>

        <div class="demonstration">
            <span style="color: gray; font-style: italic;">Aucune vidéo de démonstration disponible.</span>
        </div>
    </div>
</Base>