---
import Base from '../../layouts/Base.astro';
import '../../styles/project.css';

const pageTitle = "Faïz Madarsah - Projet\: Ancien portfolio";
---
<Base pageTitle={pageTitle}>
	<div class="wrapper">
        <div class="project-title">
            <h4 id="go-back">
                <a href="../works">Mes travaux</a> <span id="separator">/</span>
            </h4> 
            
            <h3>
                Ancien portfolio
            </h3> 
            <span id="year">2022</span>
        </div>

        <div class="project-description">
            <p>
                &nbsp;&nbsp;&nbsp;
                Un site web qui sert de portfolio mais aussi de suivi de ma formation en BTS SIO en première année dans la filière SLAM avant mon
                changement dans la filière SISR.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                Ce "portfolio" contient les exercices et projets tutorés effectué durant ma première année de BTS SIO. 
            </p>
        </div>
        
        <div class="project-links">
            <div>
                <span>Repository</span>
                <p><a href="https://github.com/naksudev/naksudev.github.io" target="_blank">https://github.com/naksudev/naksudev.github.io <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>

            <div>
                <span>Site web</span>
                <p><a href="https://naksudev.github.io/" target="_blank">https://naksudev.github.io/ <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>

            <div>
                <span>Language de programmation</span>
                <p>HTML5, CSS3, JavaScript</p>
            </div>
        </div>

        <div class="demonstration">
            <span style="color: gray; font-style: italic;">Aucune vidéo de démonstration disponible.</span>
        </div>
    </div>
</Base>