---
import Base from '../../layouts/Base.astro';
import '../../styles/project.css';

const pageTitle = "Faïz Madarsah - Projet\: Stadium Company";
---
<Base pageTitle={pageTitle}>
	<div class="wrapper">
        <div class="project-title">
            <h4 id="go-back">
                <a href="../works">Mes travaux</a> <span id="separator">/</span>
            </h4> 
            
            <h3>
                Stadium Company
            </h3> 
            <span id="year">2022</span>
            <span id="year">2023</span>
        </div>

        <div class="project-description">
            <p>
                &nbsp;&nbsp;&nbsp;
                Stadium Company est un projet tutoré effectué durant ma formation de BTS SIO SISR. Celui-ci a été fait durant la première année de la formation
                et ensuite repris pour être amélioré en deuxième année.
                Sur cette page, je fais le focus sur le projet de deuxième année, qui à mon avis est le plus intéressant puisqu'il couvre beaucoup plus de concepts
                que celui de la première année.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                Stadium Company est une entreprise fictive dont le besoin est le suivant : Concevoir et développer une nouvelle infrastructure réseau et systèmes
                pour leur stadium. Celle-ci se compose de plusieurs pôles et sous-pôles. Le projet a été divisé en 3 phases : La planification et la préparation
                de la conception du réseau, le développement de la conception réseau et la mise en oeuvre de cette conception.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                Pour entreprendre ce projet, il a fallu désigner un chef de projet pour chaque phase du projet et j'ai donc été ce même chef de projet pour la 
                première phase du projet et également assigner un membre de chaque projet à un pôle.
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                Au terme de ce projet, nous avons déployé une infrastructure réseau fonctionnelle et sécurisée. Notre maquette fut ensuite l'objet de plusieurs
                examens pour tester nos compétences. Par exemple, j'ai eu pour tâche de rendre le reverse-proxy (NGINX en l'occurrence) hautement disponible.
            </p>
        </div>

        
        <div class="project-links">
            <div>
                <span>Espace collaboratif</span>
                <p><a href="https://shorturl.at/mXaHL" target="_blank">https://shorturl.at/mXaHL <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>
            
            <div>
                <span>Environnement</span>
                <p>Linux</p>
            </div>

            <div>
                <span>Technologies utilisées</span>
                <p>Nginx, Stormshield, Cisco, Aruba, AD DS, DFS</p>
            </div>
        </div>

        <div class="demonstration">
            <span style="color: gray; font-style: italic;">Aucune vidéo de démonstration disponible.</span>
        </div>
    </div>
</Base>