---
import Base from '../../layouts/Base.astro';
import '../../styles/project.css';

const pageTitle = "Faïz Madarsah - Projet\: VT Agenda - Automation";
---
<Base pageTitle={pageTitle}>
	<div class="wrapper">
        <div class="project-title">
            <h4 id="go-back">
                <a href="../works">Mes travaux</a> <span id="separator">/</span>
            </h4> 
            
            <h3>
                VT Agenda - Automation
            </h3> 
            <span id="year">2024</span>
        </div>

        <div class="project-description">
            <p>
                &nbsp;&nbsp;&nbsp;
                Lors de mon apprentissage en licence pro, nous avions un agenda en ligne sur laquelle était demandé un code afin
                d'accéder à l'agenda de notre promo. En plus de cela, la promo avait créé un serveur Discord où on mettait à jour
                manuellement un channel avec l'agenda.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                De ce fait, j'ai créé un webhook Discord et un script Python pour mettre à jour automatiquement le channel 
                et pour éviter la perte de temps à se connecter sur le l'agenda en ligne chaque jour ou semaine.
            </p>
        </div>
        
        <div class="project-links">
            <div>
                <span>Repository</span>
                <p><a href="https://github.com/naksudev/vt-agenda" target="_blank">https://github.com/naksudev/vt-agenda <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>

            <div>
                <span>Plateforme</span>
                <p>Discord</p>
            </div>
        </div>

        <div class="demonstration">
            <span style="color: gray; font-style: italic;">Aucune vidéo de démonstration disponible.</span>
        </div>
    </div>
</Base>