---
import Base from '../../layouts/Base.astro';
import '../../styles/project.css';

const pageTitle = "Faïz Madarsah - Projet\: Zenaii";
---
<Base pageTitle={pageTitle}>
	<div class="wrapper">
        <div class="project-title">
            <h4 id="go-back">
                <a href="../works">Mes travaux</a> <span id="separator">/</span>
            </h4> 
            
            <h3>
                Zenaii
            </h3> 
            <span id="year">2023</span>
        </div>

        <div class="project-description">
            <p>
                &nbsp;&nbsp;&nbsp;
                Un de mes premiers projets. J'ai créé plusieurs bots <a href="https://discord.com/" target="_blank">Discord <i class="fa-solid fa-arrow-up-right-from-square"></i></a> (qui remonte à 2018) mais celui-ci est celui que 
                je trouve le mieux réussi de par l'utilisation de l'API <a href="https://discord.js.org/" target="_blank">discord.js <i class="fa-solid fa-arrow-up-right-from-square"></i></a> et de comment gérer les commandes et les events.
                Celui-ci m'a permis d'apprendre le JavaScript et le runtime <a href="https://nodejs.org/fr" target="_blank">Node.js <i class="fa-solid fa-arrow-up-right-from-square"></i></a> et également l'implémentation d'une base
                de données en cloud avec <a href="https://www.mongodb.com/fr-fr" target="_blank">MongoDB <i class="fa-solid fa-arrow-up-right-from-square"></i></a>.
            </p>

            &nbsp;

            <p>
                &nbsp;&nbsp;&nbsp;
                Le bot proposait des fonctionnalités basiques d'un bot Discord ainsi que des commandes de divertissements. Le bot devait
                aussi proposer un système de leveling mais j'ai abandonné le projet pour autre chose.
            </p>
        </div>
        
        <div class="project-links">
            <div>
                <span>Repository</span>
                <p><a href="https://github.com/naksudev/zenaii" target="_blank">https://github.com/naksudev/zenaii <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>

            <div>
                <span>Language de programmation</span>
                <p>JavaScript, Node.js</p>
            </div>
        </div>

        <div class="demonstration">
            <span style="color: gray; font-style: italic;">Aucune vidéo de démonstration disponible.</span>
        </div>
    </div>
</Base>