html[data-theme="light"] {
    --background: #ffffff;
    --foreground: #291f17;
    --footer: #7C7567;
    --drop-shadow: #000000;
    --badge-background: #40d465;
    --badge-foreground: #0d6924;
    --link: #7e2bc2;
    --link-hover: #612294;
    --project-year-background: #d8d8d8;
    --project-year-foreground: #444444;
    --button-background: #35b655;
    --button-foreground: #ffffff;
}

html[data-theme="dark"] {
    --background: #0f0f0f;
    --foreground: #e6e6e6;
    --footer: #272520;
    --drop-shadow: #d6caca;
    --badge-background: #a648e6;
    --badge-foreground: #390a3f;
    --link: #5af0aa;
    --link-hover: #47cc95;
    --project-year-background: #444444;
    --project-year-foreground: #d8d8d8;
    --button-background: #9940d4;
    --button-foreground: #ffffff;
}

/* Font faces */
@font-face {
    font-family: 'Source Sans';
    src: url('/fonts/SourceSans3-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-Regular.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro-VariableFont_wght.ttf');
}

/* General styling */
html, body {
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
}

body {
    font-family: 'Inter';
    line-height: 1.5;
    font-weight: 300;
}

main {
    width: 100%;
    max-width: 38rem;
    margin-inline: auto;
    padding-top: 5rem;
}

/* Heading and text spacing */
:where(h1, h2, h3, h4, p, hr) {
    margin: 0;
}

h1, h2, h3, h4 {
	font-family: 'Source Sans';
	font-weight: 700;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
}

/* Footer styling */
footer {
    margin-top: 1rem;
    margin-bottom: 2.50rem;
    text-align: center;
}
