.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper > div {
    margin-bottom: 0.75em;
}

.project-title {
    margin-left: -0.90rem;
    display: flex;
    align-items: baseline !important;
}

#go-back > a {
    font-weight: 500;
}

#separator {
    margin: 0 0.25em 0 0;
    font-weight: 350;
    font-size: 1.25em;
}

#year {
    font-family: 'Courier Prime';
    background-color: var(--project-year-background);
    color: var(--project-year-foreground);
    border-radius: 16px;
    padding: 0 6px;
    font-size: 0.80rem;
    margin-left: 8px;
    align-self: center;
}

.project-links {
    font-family: 'Courier Prime';
    margin-top: 1em;
}

.project-links > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    align-items: center;
}

.project-links > div > span {
    background-color: var(--badge-background);
    color: var(--badge-foreground);
    padding: 2px 6px;
    border-radius: 16px;
    font-size: 0.70rem;
    margin: 0 0.55em 0 1em;
    font-weight: 500;
}

.project-links > div > p {
    font-size: 0.80rem;
}

.project-links > div > p > a {
    font-weight: 500;
}

.project-links > div > p > a > i {
    font-size: 0.80em;
}

.demonstration {
    align-self: center;
    margin-top: 1em;
}

iframe {
    border-radius: 16px;
    filter: drop-shadow(0 0 0.40rem var(--drop-shadow));
}

.wrapper i {
    font-size: 0.80rem;
    position: relative;
    bottom: 3px;
}

.wrapper a {
    font-weight: 400;
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}
