---
import Base from '../layouts/Base.astro';

const pageTitle = "Faïz Madarsah - Contact";
---
<Base pageTitle={pageTitle}>
	<h2>Contact</h2>

	<p>Si vous souhaitez me contacter, merci de passer par ce formulaire.</p>

	<div class="section">
		<form name="contact" method="POST" data-netlify="true">
			<div>
					<label>Nom</label>
					<input type="text" name="name" placeholder="e.g. John Doe" maxlength="128" required />
			</div>

			<div>
					<label>Email</label>
					<input type="email" name="email" placeholder="e.g. example@mail.com" maxlength="320" required /> 
					<!-- Followed the following RFC for maxlength of email input: https://www.rfc-editor.org/rfc/rfc3696.html#section-3 -->
			</div>

			<div>
					<label>Message</label>
					<textarea name="message" placeholder="Entrez un message." minlength="8" required></textarea>
			</div>

			<div>
					<button type="submit">Envoyer</button>
			</div>
		</form>
	</div>
</Base>

<style>
	.section {
		margin-top: 1.05rem;
	}

	form {
		width: 90%;
		margin-inline: auto;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
	}

	form > div {
		display: flex;
		flex-direction: column;
		margin-bottom: 0.80rem;
	}

	label {
		font-family: 'Inter';
		font-weight: 500;
		font-size: 15px;
	}

	input, textarea {
		padding: 0.60em 0.60em 0.60em 0.60em;
		border-radius: 8px;
		border: 0px;
		background-color: rgb(236, 236, 236);
		resize: vertical;
		overflow: hidden;
	}

	button {
		background: var(--button-background);
        border-radius: 8px;
        box-sizing: border-box;
        color: var(--button-foreground);
        cursor: pointer;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 4px 14px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
	}

	button:hover {
        background-color: var(--link-hover);
        transition: background-color 0.3s;
    }
</style>
