---
import Base from '../layouts/Base.astro';

const pageTitle = "Faïz Madarsah - Page d'accueil";
---
<Base pageTitle={pageTitle}>
	<div class="warning">
		<p>Il est recommandé de parcourir ce site sur PC car le site n'est pas encore responsive!</p>	
	</div>
	
	<div class="me">
		<h2>Faïz Madarsah</h2>
		<p>À la recherche d'opportunités dans le domaine informatique..</p>
	</div>

	<div class="section aboutme">
		<h3>À PROPOS DE MOI</h3>
		<p>
			&nbsp;&nbsp; 
			Je suis un passionné d'informatique à la recherche de missions challengeants et formatrices 
			dans le monde de l'informatique. 
		</p>
		<p>
			&nbsp;&nbsp; 
			Étant particulièrement intéressé par la maintenance, l'automatisation et la sécurité des réseaux informatiques et systèmes, 
			je m'efforce de gagner en compétences en effectuant régulièrement des labos ou des mini-projets à la maison.
		</p>
	</div>

	<div class="section degrees">
		<h3>FORMATIONS</h3>

		<div>
			&nbsp;
			<span>sept. 2021</span>
			Obtention du baccalauréat professionnel <div class="tooltip">SN RISC <span class="tooltiptext">Systèmes Numériques option Réseaux Informatiques & Systèmes Communicants</span></div>	
		</div>

		<div>
			&nbsp;
			<span>juil. 2023</span>
			Obtention du brevet de technicien supérieur <div class="tooltip">SIO SISR<span class="tooltiptext">Services Informatiques aux Organisations option Solutions d'Infrastructures Systèmes et Réseaux</span></div>	
		</div>

		<div>
			&nbsp;
			<span>sept. 2024</span>
			Obtention d'une licence pro <div class="tooltip">MRIT<span class="tooltiptext">Métiers des Réseaux Informatiques et Télécommunications</span></div> en Cybersécurité et DevOps
		</div>
	</div>

	<div class="section exp">
		<h3>EXPÉRIENCES PROFESSIONNELLES</h3>

		<div>
			&nbsp;
			<span>mai. 2003</span>
			Né en France
		</div>

		<div>
			&nbsp;
			<span>juin. 2019 - juil. 2019</span>
			Stage chez LM3S
		</div>

		<div>
			&nbsp;
			<span>sept. 2020 - déc. 2020</span>
			Stage chez <a href="https://unicom-fr.fr/">UNICOM <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
		</div>
	
		<div>
			&nbsp;
			<span>juin. 2022 - juil. 2022</span>
			Stage chez <a href="https://www.tibco.fr/">Tibco Services <i class="fa-solid fa-arrow-up-right-from-square"></i></a> sur le site de Thiais
		</div>
	
		<div>
			&nbsp;
			<span>janv. 2023 - févr. 2023</span>
			Stage chez <a href="https://www.tibco.fr/">Tibco Services <i class="fa-solid fa-arrow-up-right-from-square"></i></a> sur le site de Bezons 
		</div>
		
		<div>
			&nbsp;
			<span>aout. 2023 - avril 2024</span>
			Alternance chez <a href="https://www.mind-techno.fr/">Mind Technologies <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
		</div>

	</div>

	<div class="section hobbies">
		<h3>CENTRES D'INTÉRÊT</h3>
		<p>
			&nbsp;&nbsp;&nbsp;
			Dessin traditionnel et numérique, Jeux-vidéos, Musique
		</p>
	</div>

	<div class="resume">
		<a href="/files/cv_madarsah.pdf" target="_blank">Plus d'informations sur mon CV &nbsp; <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
	</div>
</Base>

<style>
	.warning {
		background-color: var(--foreground);
		color: var(--background);
		font-family: 'Courier Prime';
		font-size: 14px;
		margin-inline: auto;
		border-radius: 8px;
		padding: 12px;
		margin-bottom: 1.50em;
	}

	.me {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	.section {
		margin-top: 1.05rem;
	}

	span {
		font-weight: 500;
		margin-right: 0.80em;
	}

	h3 {
		margin-bottom: 0.5rem;
		text-decoration: underline;
		text-decoration-thickness: 2.225px;
		text-decoration-color: var(--foreground);
		text-underline-offset: 6px;
	}

	.tooltip {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted var(--foreground);
	}

	.tooltip .tooltiptext {
		font-family: 'Source Code Pro';
		visibility: hidden;
		width: 400px;
		background-color: var(--badge-background);
		color: #ffffff;
		font-weight: 500;
		font-size: 0.90em;
		text-align: center;
		padding: 10px 10px;
		border-radius: 8px;
		position: absolute;
		bottom: 110%;
		left: 50%;
		margin-left: -200px;
		z-index: 100;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

	.degrees > div, .exp > div {
		margin-bottom: 0.10rem;
	}

	.exp i {
		font-size: 0.80rem;
		position: relative;
		bottom: 3px;
	}

	.exp a {
		font-weight: 400;
		color: var(--link);
		text-decoration: none;
	}

	.exp a:hover {
		color: var(--link-hover);
		text-decoration: underline;
	}

	.resume {
		width: 100%;
		display: inline-block;
		margin-top: 1.50em;
		margin-bottom: 1.25em;
		color: var(--button-foreground);
		text-align: center;
	}

	.resume a {
		display: inline-flex;
		padding: 0.85em;
		border-radius: 8px;
		background-color: var(--button-background);
		color: inherit;
		text-decoration: inherit;
	}
</style>
