---
import Base from '../layouts/Base.astro';
import { Image } from 'astro:assets';

const pageTitle = "Faïz Madarsah - Works";
---
<Base pageTitle={pageTitle}>
	<h2>Mes travaux</h2>

	<div class="section">
		<h3>Projets professionnels</h3>

		<div class="work-wrapper">
			<div class="work">
				<a href="/works/devops-siem">
					<Image src="/assets/devops-siem.jpg" class="grid-thumb" alt="devops-siem" width="240" height="160" />
					<span>DevOps & SIEM</span>
					<p>Projet tutoré dans le cadre de la licence professionnelle CydOps</p>
				</a>
			</div>

			<div class="work">
				<a href="/works/log-sink">
					<Image src="/assets/logsink.png" class="grid-thumb" alt="log-sink" width="240" height="160" />
					<span>Puits de logs</span>
					<p>Mise en place d'un puits de logs fonctionnel pour un SIEM</p>
				</a>
			</div>

			<div class="work">
				<a href="/works/stadium-company">
					<Image src="/assets/stadiumcompany.png" class="grid-thumb" alt="stadium-company" width="240" height="160" />
					<span>Stadium Company</span>
					<p>Projet tutoré dans le cadre du BTS SIO SISR</p>
				</a>
			</div>

			<div class="work">
				<a href="/works/old-portfolio">
					<Image src="/assets/old-portfolio_thumb.png" class="grid-thumb" alt="old-portfolio" width="240" height="160" />
					<span>Ancien portfolio</span>
					<p>Mon ancien portfolio codé en HTML5 & CSS3</p>
				</a>
			</div>
		</div>
	</div>

	<div class="section">
		<h3>Travaux personnels</h3>
		
		<div class="work-wrapper">
			<div class="work">
				<a href="/works/cwt">
					<Image src="/assets/cwt_thumb.jpg" class="grid-thumb" alt="cwt" width="240" height="160" />
					<span>Change Wallpaper Theme</span>
					<p>Un outil CLI de gestionnaire de thèmes de fond d'écrans codé en Rust</p>
				</a>
			</div>

			<div class="work">
				<a href="/works/vt-agenda">
					<Image src="/assets/vt-agenda_thumb.jpg" class="grid-thumb" alt="vt-agenda" width="240" height="160" />
					<span>VT Agenda - Automation</span>
					<p>Un script Python qui envoie l'agenda de la semaine des cours via un webhook Discord.</p>
				</a>
			</div>

			<div class="work">
				<a href="/works/zenaii">
					<Image src="/assets/discord-bot_thumb.png" class="grid-thumb" alt="zenaii" width="240" height="160" />
					<span>Zenaii</span>
					<p>Un bot Discord utilisant discord.js.</p>
				</a>
			</div>

			<div class="work">
				<a href="/works/nazarick">
					<Image src="/assets/nazarick_thumb.png" class="grid-thumb" alt="nazarick" width="240" height="160" />
					<span>Nazarick Reborn</span>
					<p>Un RPG textuel codé en Python.</p>
				</a>
			</div>
		</div>
	</div>
</Base>

<style is:global>
	.section {
		margin-top: 1.05rem;
	}

	.section > h3 {
		margin-bottom: 16px;
	}

	.work-wrapper {
		display: grid;
		grid-template-columns: repeat(2, minmax(0px, 1fr));
		grid-gap: 14px 0px;
	}

	.work {
		max-width: 100%;
		text-align: center;
		margin: 10px;
	}

	.work > a {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.work span {
		margin-top: 0.50rem;
		font-size: 16px;
		font-weight: 600;
	}

	.work p {
		width: 90%;
		font-size: 0.80rem;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.grid-thumb {
		border-radius: 12px;
		filter: drop-shadow(0 0 0.25rem var(--drop-shadow));
		object-fit: cover;
	}
</style>
