<footer>
	<p>© 2024 Faïz Madarsah. No Rights Reserved.</p>
	<p>Design du site repris du portfolio de <a href="https://www.craftz.dog/">Takuya Matsuyama</a>.</p>
</footer>

<style>
	p {	
		font-family: 'Source Code Pro';
		font-size: 0.80em;
		font-weight: 500;
		opacity: 30%;
	}
	
	a {
		font-weight: 400;
		color: var(--link);
		text-decoration: none;
	}

	a:hover {
		color: var(--link-hover);
		text-decoration: underline;
	}
</style>