<nav>
	<div class="navigation">
		<div class="name"><a href="/">Faïz Madarsah</a></div> 

		<div class="links">
			<a href="/works">Mes travaux</a>
			<a href="/contact">Contact</a>
			<a href="https://gitlab.com/naksudev/portfolio" target="_blank">Code Source &nbsp;<i class="fa-brands fa-gitlab"></i></a>
		</div> 
	</div>
</nav>

<script is:inline src="https://kit.fontawesome.com/71c6e64d81.js" crossorigin="anonymous"></script>
<script src="../scripts/theme-toggler.js"></script>

<style>
	nav {
		width: 100%;
		background-color: var(--background-color);
		backdrop-filter: blur(16px);
		position: fixed;
		z-index: 999;
		font-weight: 100;
	}

	.navigation {
		max-width: 720px;
		margin-inline-start: auto;
		margin-inline-end: auto;
		display: flex;
		justify-content: space-between;
	}

	.navigation > div {
		margin: 12px;
	}
		
	.name {
		font-size: 1.30em;
		font-weight: 600;
		align-self: center;
	}

	.name > a {
		text-decoration: none;
	}
	
	.links {
		font-family: 'Inter';
		font-weight: 400;
		display: flex;
		vertical-align: middle;
		align-self: center;
		margin-inline: 1em;
	}

	a {
		color: inherit;
		color: var(--foreground-color);
		text-decoration: inherit;
	}

	.links > a {
		margin-left: 1.15em;
	} 

	.links > a:hover {
		color: inherit;
		text-decoration: underline;
	}

	i {
		font-size: 0.90rem;
	}
</style>
