<div class="theme-toggler">
    <button role="button" data-theme-toggle>Change theme</button>
</div>

<style>
    .theme-toggler > button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: var(--button-background);
        border-radius: 32px;
        box-sizing: border-box;
        color: var(--button-foreground);
        cursor: pointer;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 4px 14px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
        z-index: 999;
    }
    
    .theme-toggler > button:hover {
        background-color: var(--link-hover);
        transition: background-color 0.3s;
    }
</style>