---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import ThemeToggler from '../components/ThemeToggler.astro';

const { pageTitle } = Astro.props;
---
<html lang="fr" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<body>
		<ThemeToggler />
		
		<Navigation />

		<main id="app" class="page-transition">
			<slot />
		</main>

		<Footer />

		<script>
			document.addEventListener('astro:afterSwap', () => {
				const app = document.getElementById('app');
				app.classList.remove('page-transition-exit');
				app.classList.add('page-transition');
			});
			document.addEventListener('astro:beforeSwap', () => {
				const app = document.getElementById('app');
				app.classList.remove('page-transition');
				app.classList.add('page-transition-exit');
			});
		</script>
	</body>
</html>
